#numb, #dlr-numb{
    color: #B39584;
    margin-left: 20px;
}

.field {
    position: absolute;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.usr-score {
    color: #B39584;
    font-size: 20px;
    background-color: #59884E0f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 10vw;
    height: 6vh;
    top: 85vh;
    left: 65vw;
}

.dlr-score {
    color: #B39584;
    font-size: 20px;
    background-color: #59884E0f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 10vw;
    height: 6vh;
    top: 23vh;
    left: 65vw;

}


.dlr-field {
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

img {
    width: 7vw;
    margin: 0.3vw;
}

.card-back {
    filter: drop-shadow(10px 10px 8px #213921);
}

.card-back img {
    position: absolute;
}
